<launch>
  <param name="robot_description" command="$(find xacro)/xacro '--inorder' '$(find differential_robot)/urdf/differential_robot_simu.urdf'"/>



  <include file="$(find urdf_sim_tutorial)/launch/gazebo.launch">
    <arg name="model" value="$(find differential_robot)/urdf/differential_robot_simu.urdf" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find differential_robot)/config/config.rviz" />

  <rosparam command="load"
            file="$(find differential_robot)/config/joints.yaml"
            ns="myrobot_joint_state_controller" />

  <rosparam command="load"
            file="$(find differential_robot)/config/diffdrive.yaml"
            ns="myrobot_wheels_controller" />


  <node name="my_diff_robot_controller_spawner" pkg="controller_manager" type="spawner"
    args="myrobot_joint_state_controller
	 myrobot_wheels_controller
          --shutdown-timeout 3"/>

  <remap from="/turtle1/cmd_vel" to="/myrobot_wheels_controller/cmd_vel"/>
  <node name="turtlesim" pkg="turtlesim" type="turtle_teleop_key">
    <param name="default_topic" value="/myrobot_wheels_controller/cmd_vel"/>
  </node>
    <node name="encoders" pkg="differential_robot" type="encoders.py"/>
    <node name="odometry_node1" pkg="differential_robot" type="odometry_node.py"/>


</launch>
